# a normal summation

In [1]:
5+7

12

# someting call biograpy of a student name tanvir i one sentence

In [2]:
'tanvir is a dull student'

'tanvir is a dull student'

# a use of print function which use as output function

In [1]:
print('tanvir study in sylhet engineering college')

tanvir study in sylhet engineering college

# use of sep function

In [5]:
print('tanvir study in sylhet engineering college ' , ' his cgpa is very low' , sep='and')

tanvir study in sylhet engineering college and his cgpa is very low

# use of end function

In [6]:
print('tanvir study in sylhet engineering college ' , ' his cgpa is very low' , sep='and' , end=' . ')

tanvir study in sylhet engineering college and his cgpa is very low .

# use variable in print function(when we create a variable we dont use apostopis .if we use apostopies then it didnt give us desired ouput)

mr='tanvir is a boy'
ms='he is 22 years old'
print(mr)
print(ms)

# use case of variable

In [16]:
mr='tanvir is a boy'
ms='he is 22 years old'
print(mr + '.Who study in sylhet engineering college and ' + ms)

tanvir is a boy.Who study in sylhet engineering college and he is 22 years old

# variable address

In [18]:
id(mr)

3170900251760

In [19]:
id(ms)

3170900267280

# using of multiple variable

In [22]:
x,y,z,name=1,2,3,'tanvir'
print(x)
print(y)
print(z)
print(name)

1
2
3
tanvir

# using of function(global and local function)

In [2]:
x=100 #global
def me():
    x=50 #local
    print(x)
me()  #when a local is called then the the output function always take local not global

50

In [6]:
x=100 #global
def me():
    x=50 #local
    print(x)
me()
print('the global num is:',x)
#here the the local value use inside a function but the command in outside functon always take the global value

50
the global num is: 100

In [8]:
x=100 #global
def me():
    global x
    x=50 #local
    print(x)
me()
print('the global num is:',x)
#here by using the global command inside a function we convert the local into global which use in every command

50
the global num is: 50